.TodoListItem {
  padding: 1rem;
  display: flex; // 아이콘이 상하에서 좌우로, 같은 레벨의 요소를 수평으로?
  align-items: center;
  &:nth-child(even) {
    //?
    background: #f8f9fa;
  }
  .checkbox {
    cursor: pointer; //?
    flex: 1; // 차지할 수 있는 영역 모두 차지
    display: flex; // 같은 레벨의 요소를 먼저 나온 순으로 좌우 배치?
    align-items: center; // 세로 중앙 정렬
    svg {
      // 아이콘
      font-size: 1.5rem;
    }
    .text {
      margin-left: 0.5rem;
      flex: 1;
    }
    // 체크되었을 때 보여 줄 스타일, checkbox 클래스가 checked 클래스도 가지고 있어야 실행됨
    &.checked {
      svg {
        color: #22b8cf;
      }
      .text {
        color: #adb5bd;
        text-decoration: line-through;
      }
    }
  }
  .remove {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #ff6b6b;
    cursor: pointer; //?
    &:hover {
      color: #ff8787;
    }
  }
  // 엘리먼트 사이사이에 테두리를 넣어 줌
  & + & {
    border-top: 1px solid #dee2e6;
  }
}
